.timeline {
    background-color: #fff;
    width: 60%;
    padding: 10px;
}
.userinfo {
    background-color: #00ff7f;
    width: 30%;
    float:left;
    padding: 10px;
}
body {
    background-color: #00ffff;
}
.tweetavatar {
    object-fit: cover;
    width: 5px;
    height: 5px;
}
.useravatar {
    object-fit: cover;
    width: 5px;
    height: 5px;
}